@page
@model RockMuseumUI.Pages.Exhibitions.EditModel
@* SEBASTIAN, DURGA *@
@{ ViewData["Title"] = "Edit"; }

<h1>Edit</h1>

<h4>ExhibitionCollection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExhibitionCollection.ID" />
            <div class="form-group">
                <label asp-for="ExhibitionCollection.Title" class="control-label"></label>
                <input asp-for="ExhibitionCollection.Title" class="form-control" />
                <span asp-validation-for="ExhibitionCollection.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExhibitionCollection.Length" class="control-label"></label>
                <input asp-for="ExhibitionCollection.Length" class="form-control" />
                <span asp-validation-for="ExhibitionCollection.Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExhibitionCollection.Releasedate" class="control-label"></label>
                <input asp-for="ExhibitionCollection.Releasedate" class="form-control" />
                <span asp-validation-for="ExhibitionCollection.Releasedate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExhibitionCollection.Rating" class="control-label"></label>
                <input asp-for="ExhibitionCollection.Rating" class="form-control" />
                <span asp-validation-for="ExhibitionCollection.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
